body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner-one{
    height: 100px;
    width: 100px;
    background: black;
    border-radius: 50%;
    position: relative;
}

.spinner-one::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;

    border: 3px solid lightgray;
    border-top: 3px solid orange; 
    animation: spin1 1s linear infinite;
}

@keyframes spin1{
    to{
        transform: rotate(360deg);
    }
}

.spinner-two{
    height: 100px;
    width: 100px;
    background: black;
    border-radius: 50%;
    position: relative;
}

.spinner-two::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;

    border: 3px solid lightgray;
    border-top: 3px solid orange; 
    border-left: 1px solid orange; 
    animation: spin1 1s linear infinite;
}

.loader span{
    width: 25px;
    height: 25px;
    margin: 15px 5px;
    background: #ffd957;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.loader span:nth-child(2){
    background: #57ffa0;
    animation-delay: 0.4s;
}
.loader span:nth-child(3){
    background: #ff8b57;
    animation-delay: 0.8s;
}
.loader2 span{
    width: 25px;
    height: 25px;
    margin: 15px 5px;
    background: #ffd957;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.loader2 span:nth-child(2){
    background: #57ffa0;
    animation-delay: 0.4s;
}
.loader2 span:nth-child(3){
    background: #ff8b57;
    animation-delay: 0.8s;
}

@keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(10px) ;
    }
}
@keyframes dots2{
    50%{
        opacity: 1;
        background: darkgray;
    }
}

@keyframes spin1{
    to{
        transform: rotate(360deg);
    }
}
