.btns{
    background: none;
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 500px;
}
.btns .btn{
    background: none;
    width: 90px;
    height: 50px;
}
.btns #trany{
    position: relative;
    z-index: 0;
}

.btns #trany::after{
    content: '';
    background: red;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    z-index: -1;
}

.btns #trany:hover::after{
    height: 100%;
    opacity: 1;
}

.btns #tranx{
    position: relative;
    z-index: 0;
}
.btns #tranx::after{
    content: '';
    background: blue;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    z-index: -1;
}
.btns #tranx:hover::after{
    width: 100%;
    opacity: 1;
}

.btns #rot{
    position: relative;
    overflow: hidden;
}
.btns #rot::after{
    content: '';
    background: yellow;
    width: 1%;
    height: 1%;
    position: absolute;
    top: 0;
    left: 0;
    right: 130px;
    transform: rotate(90deg) rotate(20deg) translate(50px, 90px);
    transition: 1s;
    opacity: 0;
    z-index: 1;
 
}
.btns #rot:hover::after{
    transform: rotate(0deg) rotate(0deg) translate(0, 0);
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}

.btns #scl{
    color:#fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btns #scl::after{
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    transform: scale(2);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
}

.btns #scl:hover::after{
   transform: scale(0);
    opacity: 1;
}

.btns #ske{
    position: relative;
    overflow: hidden;
    z-index: 0;
} 
.btns #ske::after{
    content: '';
    background: darkgrey;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0;
    transition: all 1s;
}
.btns #ske:hover{
    transform: skew(5deg);
}
.btns #ske:hover::after{
    transform: rotate(180deg);
    opacity: 1;
}