.btns{
    background: none;
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 500px;
}
.btns .btn{
    background: none;
    width: 50%;
    height: 50px;
}
.btns #trany{
    position: relative;
}

.btns #trany::after{
    content: 'cool';
    background: red;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
}

.btns #trany:hover::after{
    height: 100%;
    opacity: 1;
}